body{font-size:0.8em;}
.container{margin:0 auto;max-width:850px;padding:0 20px;position:relative;}
.row{margin-left:-1.745%;max-width:870px;overflow:hidden;}
.row [class^="col-"]{float:left;margin:0 0 0 1.745%;}
.row .col-1{width:6.579%;}
.row .col-2{width:14.912%;}
.row .col-3{width:23.246%;}
.row .col-4{width:31.579%;}
.row .col-5{width:39.912%;}
.row .col-6{width:48.246%;}
.row .col-7{width:56.579%;}
.row .col-8{width:64.912%;}
.row .col-9{width:73.246%;}
.row .col-10{width:81.579%;}
.row .col-11{width:89.912%;}
.row .col-12{width:98.246%;margin-right:0;}
img,object,embed{max-width:100%;}
img{height:auto;}
