/* main.css */

body {
  font-family: Courier;
}

h2 {
  font-size: 1em;
  margin-bottom: .2em;
}
.canvas_wrapper {
  background: #000;
  height: 480px;
}

.canvas {
  background: #000;
  border: 1px solid;
  border-top-color: #fff;
  border-top-width: 3px;
  border-bottom-width: 3px;
  margin: 0;
}

.canvas:focus {
  border-bottom-color: green;
  border-top-color: green;
  outline: none;
}

.code.textarea {
  height: 30px;
  margin-bottom: 10px;
}

.controls {
  line-height: 40px;
  margin: 30px 0 10px;
}

.loader {}
  .loader h2 {
    float: left;
  }
  .loader .warning {
    display: none;
    float: right;
    margin-bottom: 0;
  }

.invalid {
  color: red;
}
  .invalid .textarea {
    border: 1px solid red;
  }
  .invalid .warning {
    display: inherit;
  }

.memory.textarea {
  height: 100px;
  text-align: center;
}

table.processes {
  margin-top: 8px;
}
  table.processes th {
    padding: 0 123px 0 0;
  }
  table.processes td {
    border: 1px solid;
    height: 103px;
    padding: 0 15px 0 10px;
    text-align: right;
    vertical-align: top;
    width: 33.3333%;
  }


ul.processes {
  list-style: none;
  padding-left: 0;
}

.textarea {
  font-family: Courier;
  font-size: 11px;
  height: 160px;
  outline: none;
  width: 98%;
}

.registers {
  border: 1px solid;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
  .registers td,
  .registers th {
    min-height: 1em;
    padding: 0 1em;
  }

.status {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  text-align: center;
}
