/* main.css */

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 870px;
}

#display {
  border: 1px solid;
  clear: both;
  cursor: default;
  -webkit-appearance: textarea;
}

#taLog {
  height: 200px;
  width: 866px;
}

.left {
  float: left;
}

.right {
  float: right;
}
